In [1]:
from fred import Fred
import pandas as pd

In [2]:
fr = Fred(api_key='b527071dd5af348ad7ba62633f345ccd',response_type='df')

In [3]:
#Pull spot rates
params = {
         'limit':100000,
         'output_type':1,
         'observation_start': '2012-01-01',
         'sort_order': 'desc'
         }

# USD to 1 EURO
euro = fr.series.observations('DEXUSEU',params=params) 
# USD to 1 AUD
aud = fr.series.observations('DEXUSAL',params=params)
# USD to 1 NZD
nzd = fr.series.observations('DEXUSNZ',params=params)
# CAD to 1 USD
cad = fr.series.observations('DEXCAUS',params=params) 
# USD to 1 GBP
gbp = fr.series.observations('DEXUSUK',params=params)

/Users/williamknighting/anaconda/lib/python2.7/site-packages/fred/helpers/__init__.py:36: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  frame = frame.convert_objects(convert_numeric=True)

In [4]:
df_euro = pd.DataFrame(euro)
df_aud = pd.DataFrame(aud)
df_nzd = pd.DataFrame(nzd)
df_cad = pd.DataFrame(cad)
df_gbp = pd.DataFrame(gbp)

CONVERT CAD TO: USD TO 1 CAD

In [5]:
df_full = pd.DataFrame()
df_full['date'] = df_euro['date']
df_full['euro'] = df_euro['value']
df_full['aud'] = df_aud['value']
df_full['nzd'] = df_nzd['value']
df_full['cad'] = df_cad['value']
df_full['gbp'] = df_gbp['value']

In [22]:
df_full

           date    euro     aud     nzd     cad     gbp
0    2017-03-17  1.0742  0.7690  0.7008  1.3366  1.2372
1    2017-03-16  1.0738  0.7673  0.6979  1.3316  1.2370
2    2017-03-15  1.0630  0.7593  0.6956  1.3451  1.2222
3    2017-03-14  1.0645  0.7575  0.6933  1.3462  1.2168
4    2017-03-13  1.0670  0.7581  0.6927  1.3453  1.2234
5    2017-03-10  1.0667  0.7531  0.6919  1.3468  1.2158
6    2017-03-09  1.0586  0.7517  0.6907  1.3504  1.2166
7    2017-03-08  1.0547  0.7544  0.6926  1.3479  1.2152
8    2017-03-07  1.0582  0.7603  0.6983  1.3413  1.2209
9    2017-03-06  1.0586  0.7583  0.6999  1.3410  1.2243
10   2017-03-03  1.0552  0.7559  0.7012  1.3419  1.2249
11   2017-03-02  1.0514  0.7578  0.7071  1.3384  1.2267
12   2017-03-01  1.0564  0.7664  0.7131  1.3345  1.2318
13   2017-02-28  1.0618  0.7686  0.7229  1.3247  1.2427
14   2017-02-27  1.0624  0.7693  0.7224  1.3100  1.2473
15   2017-02-24  1.0580  0.7681  0.7201  1.3106  1.2499
16   2017-02-23  1.0586  0.7716  0.7235  1.3109  1.2548
17   2017-02-22  1.0555  0.7683  0.7161  1.3188  1.2456
18   2017-02-21  1.0551  0.7672  0.7156  1.3149  1.2465
19   2017-02-20     NaN     NaN     NaN     NaN     NaN
20   2017-02-17  1.0614  0.7657  0.7182  1.3114  1.2428
21   2017-02-16  1.0660  0.7694  0.7227  1.3056  1.2477
22   2017-02-15  1.0597  0.7698  0.7202  1.3082  1.2465
23   2017-02-14  1.0577  0.7638  0.7154  1.3092  1.2465
24   2017-02-13  1.0603  0.7644  0.7175  1.3072  1.2510
25   2017-02-10  1.0650  0.7686  0.7207  1.3073  1.2502
26   2017-02-09  1.0658  0.7623  0.7182  1.3139  1.2516
27   2017-02-08  1.0708  0.7648  0.7322  1.3156  1.2543
28   2017-02-07  1.0690  0.7636  0.7316  1.3166  1.2486
29   2017-02-06  1.0731  0.7641  0.7304  1.3116  1.2450
...         ...     ...     ...     ...     ...     ...
1330 2012-02-10  1.3187  1.0676  0.8283  1.0016  1.5748
1331 2012-02-09  1.3297  1.0806  0.8366  0.9941  1.5838
1332 2012-02-08  1.3253  1.0785  0.8337  0.9969  1.5820
1333 2012-02-07  1.3244  1.0798  0.8364  0.9947  1.5891
1334 2012-02-06  1.3130  1.0743  0.8345  0.9953  1.5832
1335 2012-02-03  1.3106  1.0762  0.8360  0.9944  1.5779
1336 2012-02-02  1.3167  1.0718  0.8351  0.9985  1.5813
1337 2012-02-01  1.3179  1.0700  0.8321  0.9984  1.5849
1338 2012-01-31  1.3053  1.0598  0.8246  1.0050  1.5754
1339 2012-01-30  1.3123  1.0590  0.8199  1.0030  1.5690
1340 2012-01-27  1.3192  1.0645  0.8239  1.0014  1.5716
1341 2012-01-26  1.3152  1.0651  0.8215  0.9986  1.5706
1342 2012-01-25  1.2978  1.0481  0.8056  1.0119  1.5570
1343 2012-01-24  1.3004  1.0470  0.8093  1.0096  1.5595
1344 2012-01-23  1.3035  1.0534  0.8108  1.0079  1.5582
1345 2012-01-20  1.2948  1.0471  0.8059  1.0142  1.5540
1346 2012-01-19  1.2937  1.0417  0.8021  1.0094  1.5484
1347 2012-01-18  1.2825  1.0395  0.8059  1.0138  1.5410
1348 2012-01-17  1.2740  1.0395  0.8005  1.0130  1.5356
1349 2012-01-16     NaN     NaN     NaN     NaN     NaN
1350 2012-01-13  1.2682  1.0292  0.7923  1.0246  1.5301
1351 2012-01-12  1.2818  1.0311  0.7927  1.0197  1.5325
1352 2012-01-11  1.2686  1.0295  0.7950  1.0192  1.5325
1353 2012-01-10  1.2782  1.0323  0.7947  1.0161  1.5489
1354 2012-01-09  1.2745  1.0215  0.7850  1.0272  1.5436
1355 2012-01-06  1.2723  1.0235  0.7818  1.0231  1.5431
1356 2012-01-05  1.2783  1.0253  0.7804  1.0197  1.5480
1357 2012-01-04  1.2930  1.0348  0.7876  1.0134  1.5638
1358 2012-01-03  1.3061  1.0380  0.7903  1.0089  1.5655
1359 2012-01-02     NaN     NaN     NaN     NaN     NaN

[1360 rows x 6 columns]